body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(41, 41, 41);
}
.container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 1rem;
    border-radius: 20px;
    background-color: rgb(223, 67, 0);
}
.time-container,.time-container span{
    font-size: 3rem;
    color: white;
}
.btns{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.btns button{
    font-size: 2rem;
    border-radius: 8px;
    border: none;
    background-color: rgb(56, 56, 56);
    color: white;
}